$blue-color: #9ddad8;
$white-color: #fff;
$brown-color: rgb(194, 163, 92);
$black-color: #000;
$gray-color:#e0e0e0;
$dark-gray-color:#757575;
$orange-color:#ec7324;
$light-blue:#70b5f6;
$purple-color:#664DF3;
$green-color:#1BBD58;
$green-light-color:#65E4AD;
$brown-light-color:#C2B28E;
$red-color:#E6564F;
$google-red-color:#DB4437